@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url(./bg_clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
